body {
    background-color: rgba(32, 33, 36, 1);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif
}
button {
    background: #303134;
    color: #bdc1c6;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #303134;
}
button:hover {
    cursor: pointer;
    border: 0.7px solid white;
}
button:active {
    background: rgb(97, 96, 96);
}
.tete {
    display: flex;
    
    margin-right: 2em;
    flex-direction: row;
    padding: 15px 15px 15px 15px;
    justify-content: right;
}
.tete a {
    margin: 0 10px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid white;
}
input {
    display: flex;
    border-radius: 30px;
    border: 1px solid grey;
    height: 40px;
    width: 600px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #303134;
    padding: 5px 20px;
    font-size: 1em;
    color: white;
}

.titre {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
    font-size: 2em;
}
.but {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.but button {
    margin: 0 20px;
}
.eng {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footerlink {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #bdc1c6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border: 1px solid rgba(32, 33, 36, 1);
    height: 50px;

}
.footleft a {
    margin: 0 10px;

}
.footright a {
    margin: 0 10px;
}
.footleft {
    margin-left: 20px;
}
.footright {
    margin-right: 20px;
}
.jack {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border: 1px solid rgba(32, 33, 36, 1);;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding-left: 25px;   
}


